In [1]:
import pandas as pd
import numpy as np

In [2]:
print('yes')

yes

In [3]:
a = 'yes'
b = 'Not yes'
if a == 'yes':
    print('Yes')
else:
    print('No')

if b == 'yes':
    print('Yes')
else:
    print('No')

Yes
No

In [4]:
#Multiline statements
total = a +\
' '+b
total

'yes Not yes'

In [5]:
month = ['a','b','c','d','e','f']
month
print(month)

year = (12,23,34,45,56)
print(year)

#year[0] = 41
#print(year)

['a', 'b', 'c', 'd', 'e', 'f']
(12, 23, 34, 45, 56)

In [6]:
dict = {'a':1,'b':2,'c':3}   #dictionary
print(dict)

set_a = {1,3,5,'r','t'}   #set
print(set_a)

print(type(dict))
print(type(set_a))

{'a': 1, 'b': 2, 'c': 3}
{1, 3, 5, 't', 'r'}
<class 'dict'>
<class 'set'>

In [7]:
name = 'kirti'
print(name)

profession = "data science researcher"
print(profession)

multi_line = """This is an example of multiple lines. There is a difference between \
single line and multiple lines"""
multi_line

kirti
data science researcher

'This is an example of multiple lines. There is a difference between single line and multiple lines'

In [8]:
#This is a comment

# This is also a comment

In [9]:
input("\n\nPress any button to enter")

Press any button to entera

'a'

In [10]:
import seaborn as sns; x = 'hello'

In [11]:
x

'hello'

In [12]:
x = 'hi'
y = 'how are you'
z = x+' '+y

In [13]:
if x == 'hello':
    print(x)
elif y == 'hi':
    print(y)
else:
    print(z)

hi how are you

In [14]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print (counter)
print (miles)
print (name)

print (type(counter))
print (type(miles))
print (type(name))

100
1000.0
John
<class 'int'>
<class 'float'>
<class 'str'>

In [15]:
a = b = c = 1

print(a)
print(b)
print(c)

1
1
1

In [16]:
a,b,c = 11,23.23,'hello'
print(a)
print(b)
print(c)

11
23.23
hello

In [17]:
a = 10
b = 1.112
type(a)
print(type(b))

<class 'float'>

In [18]:
del a,b

In [19]:
var_a = 12
var_b = 25

In [20]:
del var_a,var_b

In [21]:
str1 = 'Hello World!'
str2 = 'How are you?'

# Prints complete string
print(str1[:])

# Prints first character of the string
print(str1[0])

# Prints characters starting from 3rd to 5th
print(str1[2:5])

# Prints string starting from 3rd character
print(str1[2:])

# Prints string two times
print(str1*2)

# Prints concatenated string
print(str1+' '+str2)

# Prints concatenated string
print(str1+' '+'Wassup')

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World! How are you?
Hello World! Wassup

In [22]:
#List
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

# Prints complete list
print(list1)

# Prints first element of the list
print(list1[0])

# Prints elements starting from 2nd till 3rd
print(list1[1:3])

# Prints elements starting from 3rd element
print(list1[2:])

# Prints list two times
print(list1*2)
print(tinylist*2)

# Prints concatenated lists
print(list1 + tinylist)

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [23]:
#Tuple
tuple1 = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

# Prints complete tuple
print(tuple1)
print(tinytuple)

# Prints first element of the tuple
print(tuple1[0])

# Prints elements starting from 2nd till 3rd 
print(tuple1[1:3])

## Prints elements starting from 3rd element
print(tuple1[2:])

# Prints tuple two times
print(tinytuple*2)

# Prints concatenated tuple
print(tuple1+tinytuple)

('abcd', 786, 2.23, 'john', 70.2)
(123, 'john')
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [24]:
tuple1 = (1,45,'kisan','sailee',34.67)
list1 = [1,45,'kisan','sailee',34.67]

tuple1[2] = 1000   # Invalid syntax with tuple
list1[2] = 1000   # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

In [25]:
#Dictionary
dict1 = {}
dict1[1] = 10
dict1['two'] = 13.57

tinydict = {'name':'john','code':176,'dept':'marketing'}

print(dict1)
print(tinydict)

## Prints value for 'two' key
print(dict1['two'])

# Prints value for 2 key
print(dict1[1])

# Prints complete dictionary
print(dict1)

# Prints all the keys
print(dict1.keys())
print(tinydict.keys())

## Prints all the values
print(dict1.values())
print(tinydict.values())

{1: 10, 'two': 13.57}
{'name': 'john', 'code': 176, 'dept': 'marketing'}
13.57
10
{1: 10, 'two': 13.57}
dict_keys([1, 'two'])
dict_keys(['name', 'code', 'dept'])
dict_values([10, 13.57])
dict_values(['john', 176, 'marketing'])

In [26]:
#Data Type Conversion

a,b,c,d = 1,2.3,'450',126
int(c)
float(a)
complex(a)

(1+0j)

In [27]:
e = str(d)
e

'126'

In [28]:
repr(e)

"'126'"

In [29]:
type(eval(e))

int

In [30]:
tuple(e)

('1', '2', '6')

In [31]:
list(c)

['4', '5', '0']